{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block body %}
     <form id="login_form" method="post">
        {% csrf_token %}
        {% if form %}
            {{ form.username.errors.as_text }}
            {{ form.username.label_tag }}
            {{ form.username }}

            <br>

            {{ form.password.errors.as_text }}
            {{ form.password.label_tag }}
            {{ form.password }}

            <button type="submit"> Submit </button>

        {% endif %}

    </form>

    {{ form.non_field_errors }}
{% endblock %}