{% extends 'base.html' %}

{% block title %}
    Sign Up
{% endblock %}

{% block body %}
     <form method="post">

    {% csrf_token %}

        {% if form %}
            {{ form.username.errors.as_text }}
            {{ form.username.label }}
            {{ form.username }}

            <br>

            {{ form.password1.errors.as_text }}
            {{ form.password1.label }}
            {{ form.password1 }}

            <br>

            {{ form.password2.errors.as_text }}
            {{ form.password2.label }}
            {{ form.password2 }}

            <br>

            {{ form.first_name.errors.as_text }}
            {{ form.first_name.label }}
            {{ form.first_name }}

            <br>

            {{ form.last_name.errors.as_text }}
            {{ form.last_name.label }}
            {{ form.last_name }}

            <button type="submit"> Submit </button>
        {% endif %}
    </form>

    {{ form.non_field_errors }}
{% endblock %}